adagio==0.2.6
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
click==8.3.1
cloudpickle==3.1.2
coreforecast==0.0.17
fastapi==0.135.1
fsspec==2026.2.0
fugue==0.9.7
h11==0.16.0
idna==3.11
joblib==1.5.3
llvmlite==0.46.0
narwhals==2.17.0
numba==0.64.0
numpy==2.4.2
packaging==26.0
pandas==2.3.3
patsy==1.0.2
pyarrow==23.0.1
pydantic==2.12.5
pydantic_core==2.41.5
python-dateutil==2.9.0.post0
pytz==2025.2
scikit-learn==1.8.0
scipy==1.15.3
six==1.17.0
starlette==0.52.1
statsforecast==2.0.3
statsmodels==0.14.6
threadpoolctl==3.6.0
tqdm==4.67.3
triad==1.0.2
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
utilsforecast==0.2.15
uvicorn==0.41.0
